<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
</head>
<body>
<h3>Добавление товара</h3>
<form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> <!--ПАША У ТЕБЯ БЕЗ НИХ Н НЕ РАБОТАЕТ!-->
    <label for="title">Введите наименование товара</label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание товара</label>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену товара</label>
    <input type="number" th:field="*{price}" min="1" step="0.00" placeholder="Цена товара" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите склад, на котором расположен товар: </label>
    <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию товара</label>
    <!--Цикл вывода категорий 50:47-->
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}">
        </div>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    <br>
    <br>
    <label for="seller">Введите данные о продавце</label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
    <p style="color: red"> Можно загрузить до 5 фотографий. Первая фотграция не может быть пустой. Т.к данная фотография является главной при выводе карточки товара</p>
    <input type="file" name="file_one">
    <br>
    <br>
    <input type="file" name="file_two">
    <br>
    <br>
    <input type="file" name="file_three">
    <br>
    <br>
    <input type="file" name="file_four">
    <br>
    <br>
    <input type="file" name="file_five">
    <br>
    <br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>