<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактирование товаров</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
          <style>
            @import url('https://fonts.cdnfonts.com/css/iceland');
        </style>      
</head>
<body>
  <header class="head" style="margin-top: 20px;clear: both;background-color:orange;height: 50px;padding: 10px;">
    <img src="/img/home/logo1.png" alt="Motorcraft" style="height: 20px;">
    <p style="color: white; font-weight: bolder; font-family: 'Iceland', sans-serif; display: inline; font-size: 14pt;  text-shadow: black 1px 1px 0, black -1px -1px 0, 
    black -1px 1px 0, black 1px -1px 0;">Motorcraft</p>
    <p style="display: inline; font-size: small; font-family: sans-serif; font-weight:bold; color: white; text-shadow: black 1px 1px 0, black -1px -1px 0, 
    black -1px 1px 0, black 1px -1px 0;">©,  2023г.</p>
</header>
<div class="container">
<div class="menu" style="
height: 80px;
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
align-items: center;">
    <div class="col-auto" style="margin-right: 10px">
        <form method="get" th:action="@{/admin}">
            <button type="submit" class="btn btn-warning">Назад</button>
        </form>
    </div>
</div>
<h3>Редактирование товара</h3>

<form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> <!--ПАША У ТЕБЯ БЕЗ НИХ Н НЕ РАБОТАЕТ!-->
  <label for="title">Введите наименование товара</label>
  <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br>
  <br>
  <label for="description">Введите описание товара</label>
  <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  <br>
  <br>
  <label for="price">Введите цену товара</label>
  <input type="number" th:field="*{price}" min="1" step="0.00" placeholder="Цена товара" id="price">
  <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
  <br>
  <br>
  <label for="warehouse">Введите склад, на котором расположен товар: </label>
  <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
  <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
  <br>
  <br>
  <label for="category">Выберите категорию товара</label>
  <!--Цикл вывода категорий 50:47-->
  <select name="category" th:field="*{category}" id="category">
    <div th:each="element : ${category}">
      <option th:text="${element.getName()}" th:value="${element.getId()}">
    </div>
  </select>
  <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
  <br>
  <br>
  <label for="seller">Введите данные о продавце</label>
  <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
  <br>
  <br>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

  <input type="submit" value="Редактировать">
</form>
</div>
</body>
</html>