<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <meta name="description"
    content="Motorcraft — интернет магазин автомобильных жидкостей с доставкой и по приемлемым ценам.">
    <meta name="Keywords" content="Моторное масло, 5w-30, pfvtyf vfckf, замена масла, дешевое моторное масло">
    <meta name="author" content="Гончаров Павел Сергеевич">
     <style>
         @import url('https://fonts.cdnfonts.com/css/iceland');
     </style>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
        <header>
            <div class="head" style="margin-top: 20px;clear: both;background-color:orange;height: 50px;padding: 10px;">
              <img src="/img/home/logo1.png" alt="Motorcraft" style="height: 20px;">
              <p style="color: white; font-weight: bolder; font-family: 'Iceland', sans-serif; display: inline; font-size: 14pt;  text-shadow: black 1px 1px 0, black -1px -1px 0, 
              black -1px 1px 0, black 1px -1px 0;">Motorcraft</p>
              <p style="display: inline; font-size: small; font-family: sans-serif; font-weight:bold; color: white; text-shadow: black 1px 1px 0, black -1px -1px 0, 
              black -1px 1px 0, black 1px -1px 0;">©,  2023г.</p>
            </div>
          </header>
<div class="container">
<h3>
    Список доступных товаров
</h3>
<div class="menu" style="
    height: 80px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;"> 
            <div class="col-auto" style="margin-right: 10px">
                <button type="submit" class="btn btn-warning">О нас</button>
                </form>
            </div>

            <div class="col-auto" style="margin-right: 10px">
                <form>
                    <button type="submit" class="btn btn-warning">Заявка на замену масла</button>
                </form>
            </div>
            <!-- ВХОД! -->
            <div class="col-auto" style="margin-right: 10px">
                <form th:action="@{/authentication}">
                    <button type="submit" class="btn btn-warning">Войти</button>
                </form>
            </div>
        </div>

<form th:method="POST" th:action="@{/product/search}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <fieldset> <!--РАМКА, LEGEND встроенное поле в окошко -->
        <legend> Выберите параметры для сортировки, поиска, фильтрации</legend>
        <label for="search"> Поиск по наименованию</label>
        <input type="text" id="search" name="search" th:value="*{value_search}">
        <br>
        <p>Цена, Р</p>
        <label for="ot">От</label>
        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
        <label for="do">До</label>
        <input type="text" name="do" id="do" th:value="*{value_price_do}">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price"name="price" value="sorted_by_ascending_price">
            <label for="ascending_price">Отсортировать по возрастанию цены</label>
            <input type="radio" id="descending_price"name="price" value="sorted_by_descending_price">
            <label for="descending_price">Отсортировать по убыванию цены</label>
            <p>Категория товаров: </p>
            <!--Категории товаров furniture/clothes/appliances-->
            <input type="radio" id="furniture" name="contract" value="furniture">
            <label for="furniture">Моторные масла</label>
            <input type="radio" id="appliances" name="contract" value="appliances">
            <label for="appliances">Тормозные жидкости</label>
            <input type="radio" id="clothes" name="contract" value="clothes">
            <label for="clothes">Автомобильные присадки</label>
            <br>
            <br>
            <input type="submit" value="Найти">

        </div>
    </fieldset>
</form>
<hr>
<h3>Результат поиска сортировки и фильрации</h3>
<div th:each="product : ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFilename()}" width="300px">
    <br>
    <a th:href = "@{/product/info/{id}(id=${product.getId()})}"
       th:text="${product.getTitle()}"></a>
    <p th:text="'Цена товара:' + ${product.getPrice()}"></p>

    <hr>
</div>
<hr>
  <div th:each="product : ${products}">
  <img th:src="'/img/' + ${product.imageList[0].getFilename()}" width="300px">
  <br>
  <a th:href = "@{/product/info/{id}(id=${product.getId()})}"
  th:text="${product.getTitle()}"></a>
    <p th:text="'Цена товара:' + ${product.getPrice()}"></p>

  <hr>
  </div>
</div>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous">
  </script>
</body>
</html>