<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h3>
    Список доступных товаров
</h3>
<form th:method="POST" th:action="@{/product/search}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <fieldset> <!--РАМКА, LEGEND встроенное поле в окошко -->
        <legend> Выберите параметры для сортировки, поиска, фильтрации</legend>
        <label for="search"> Поиск по наименованию</label>
        <input type="text" id="search" name="search" th:value="*{value_search}">
        <br>
        <p>Цена, Р</p>
        <label for="ot">От</label>
        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
        <label for="do">До</label>
        <input type="text" name="do" id="do" th:value="*{value_price_do}">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price"name="price" value="sorted_by_ascending_price">
            <label for="ascending_price">Отсортировать по возрастанию цены</label>
            <input type="radio" id="descending_price"name="price" value="sorted_by_descending_price">
            <label for="descending_price">Отсортировать по убыванию цены</label>
            <p>Категория товаров: </p>
            <!--Категории товаров furniture/clothes/appliances-->
            <input type="radio" id="furniture" name="contract" value="furniture">
            <label for="furniture">Мебель</label>
            <input type="radio" id="appliances" name="contract" value="appliances">
            <label for="appliances">Бытовая техника</label>
            <input type="radio" id="clothes" name="contract" value="clothes">
            <label for="clothes">Одежда</label>
            <br>
            <br>
            <input type="submit" value="Найти">

        </div>
    </fieldset>
</form>
<hr>
<h3>Результат поиска сортировки и фильрации</h3>
<div th:each="product : ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFilename()}" width="300px">
    <br>
    <a th:href = "@{/product/info/{id}(id=${product.getId()})}"
       th:text="${product.getTitle()}"></a>
    <p th:text="'Цена товара:' + ${product.getPrice()}"></p>

    <hr>
</div>
<hr>
  <div th:each="product : ${products}">
  <img th:src="'/img/' + ${product.imageList[0].getFilename()}" width="300px">
  <br>
  <a th:href = "@{/product/info/{id}(id=${product.getId()})}"
  th:text="${product.getTitle()}"></a>
    <p th:text="'Цена товара:' + ${product.getPrice()}"></p>

  <hr>
  </div>
</body>
</html>