<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h3>
    Личный кабинет пользователя
</h3>
<form method="post" th:action="@{/logout}" style="padding-left: 40%">
    <button type="submit">Выйти из личного кабинета</button>
</form>
<br>
<form method="get" th:action="@{/cart}" style="padding-left: 40%">
    <button type="submit">Корзина</button>
</form>
<br>
<form method="get" th:action="@{/orders}" style="padding-left: 40%">
    <button type="submit">Заказы</button>
</form>

<hr>
<h2>Сортировка, поиск, фильтрация </h2>
<form th:method="POST" th:action="@{/personal_account/product/search}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <fieldset> <!--РАМКА, LEGEND встроенное поле в окошко -->
        <legend> Выберите параметры для сортировки, поиска, фильтрации</legend>
        <label for="search"> Поиск по наименованию</label>
        <input type="text" id="search" name="search" th:value="*{value_search}">
        <br>
        <p>Цена, Р</p>
        <label for="ot">От</label>
        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
        <label for="do">До</label>
        <input type="text" name="do" id="do" th:value="*{value_price_do}">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price"name="price" value="sorted_by_ascending_price">
            <label for="ascending_price">Отсортировать по возрастанию цены</label>
            <input type="radio" id="descending_price"name="price" value="sorted_by_descending_price">
            <label for="descending_price">Отсортировать по убыванию цены</label>
            <p>Категория товаров: </p>
            <!--Категории товаров furniture/clothes/appliances-->
            <input type="radio" id="furniture" name="contract" value="furniture">
            <label for="furniture">Моторные масла</label>
            <input type="radio" id="appliances" name="contract" value="appliances">
            <label for="appliances">Тормозные жидкости</label>
            <input type="radio" id="clothes" name="contract" value="clothes">
            <label for="clothes">Автомобильные присадки</label>
            <br>
            <br>
            <input type="submit" value="Найти">

        </div>
    </fieldset>
</form>
<hr>
<h3>Результат поиска сортировки и фильрации</h3>
<div th:each="product : ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFilename()}" width="300px">
    <br>
    <a th:href = "@{/product/info/{id}(id=${product.getId()})}"
       th:text="${product.getTitle()}"></a>
    <p th:text="'Цена товара:' + ${product.getPrice()}"></p>

    <hr>
</div>
<hr>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
<div th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFilename()}" width="300px">
    <br>
    <a th:href = "@{/product/info/{id}(id=${product.getId()})}"
       th:text="${product.getTitle()}"></a>
    <p th:text="'Цена товара:' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
    <hr>
</div>
</body>
</html>