<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h3>
    Список доступных товаров
</h3>
<form method="post" th:action="@{/logout}" style="padding-left: 40%">
    <button type="submit">Выйти из личного кабинета</button>
</form>

<hr>
<h2>Сортировка, поиск, фильтрация </h2>
<form th:method="POST" th:action="@{/product/search}">
    <fieldset> <!--РАМКА, LEGEND встроенное поле в окошко -->
        <legend> Выберите параметры для сортировки, поиска, фильтрации</legend>
        <label for="search"> Поиск по наименованию</label>
        <input type="text" id="search" name="search">
        <br>
        <p>Цена, Р</p>
        <label for="ot">От</label>
        <input type="text" name="ot" id="ot">
        <label for="do">До</label>
        <input type="text" name="do" id="do">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price"name="price">
            <label for="ascending_price">Отсортировать по возрастанию цены</label>
            <input type="radio" id="descending_price"name="price">
            <label for="descending_price">Отсортировать по убыванию цены</label>
            <p>Категория товаров: </p>
            <!--Категории товаров furniture/clothes/appliances-->
            <input type="radio" id="furniture" name="contract">
            <label for="furniture">Мебель</label>
            <input type="radio" id="appliances" name="contract">
            <label for="appliances">Бытовая техника</label>
            <input type="radio" id="clothes" name="contract">
            <label for="clothes">Одежда</label>
            <br>
            <br>
            <input type="submit" value="Найти">

        </div>
    </fieldset>
</form>
<hr>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
<div th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFilename()}" width="300px">
    <br>
    <a th:href = "@{/product/info/{id}(id=${product.getId()})}"
       th:text="${product.getTitle()}"></a>
    <p th:text="'Цена товара:' + ${product.getPrice()}"></p>

    <hr>
</div>
</body>
</html>