<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация пользователя</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
  <h3>Вход</h3>
<form method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="username">Введите логин: </label>
    <input type="text" placeholder="Введите логин" name="username" id="username">
    <br>
    <label for="password">Введите пароль: </label>
    <input type="password" placeholder="Введите пароль" name="password" id="password">
    <input type="submit" value="Войти">
</form>
<div th:if="${param.error}" style="color:red">
  Вы ввели неправильный логин или пароль
</div>
<a href="/registration" style="text-decoration: none">Регистрация</a>
</body>
</html>